:root {
  --unselected: rgba(195, 197, 198, 1);
  --selected: rgba(105, 112, 119, 1);
  --coolgray-90: rgba(33, 39, 42, 1);
  --coolgray-60: rgba(105, 112, 119, 1);
  --coolgray-10: rgba(242, 244, 248, 1);
  --coolgray-30: rgba(193, 199, 205, 1);
  --primary-90: rgba(0, 29, 108, 1);
  --defaultwhite: rgba(255, 255, 255, 1);
  --primary-60: rgba(15, 98, 254, 1);
  --heading-2-font-family: "Roboto-Bold", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 42px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 110.00000238418579%;
  --heading-2-font-style: normal;
  --body-s-font-family: "Roboto-Regular", Helvetica;
  --body-s-font-weight: 400;
  --body-s-font-size: 14px;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: 139.9999976158142%;
  --body-s-font-style: normal;
  --body-m-font-family: "Roboto-Regular", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 16px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 139.9999976158142%;
  --body-m-font-style: normal;
  --body-XS-font-family: "Roboto-Regular", Helvetica;
  --body-XS-font-weight: 400;
  --body-XS-font-size: 12px;
  --body-XS-letter-spacing: 0px;
  --body-XS-line-height: 139.9999976158142%;
  --body-XS-font-style: normal;
  --button-m-font-family: "Roboto-Medium", Helvetica;
  --button-m-font-weight: 500;
  --button-m-font-size: 16px;
  --button-m-letter-spacing: 0.5px;
  --button-m-line-height: 100%;
  --button-m-font-style: normal;
  --other-caption-font-family: "Roboto-Bold", Helvetica;
  --other-caption-font-weight: 700;
  --other-caption-font-size: 20px;
  --other-caption-letter-spacing: 1px;
  --other-caption-line-height: 100%;
  --other-caption-font-style: normal;
  --heading-1-font-family: "Roboto-Bold", Helvetica;
  --heading-1-font-weight: 700;
  --heading-1-font-size: 54px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 110.00000238418579%;
  --heading-1-font-style: normal;
  --body-l-font-family: "Roboto-Regular", Helvetica;
  --body-l-font-weight: 400;
  --body-l-font-size: 18px;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 139.9999976158142%;
  --body-l-font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.page-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.page-content .placeholder-picture img {
  position: relative;
  height: 110vh;
  background-size: cover;
  background-position: 10% 10%;
}

.page-content .right-column {
  position: relative;
  width: 655px;
  height: 552px;
  padding-right: 100px;
  margin-bottom: 35px;
}

.page-content .section-text {
  display: flex;
  flex-direction: column;
  width: 560px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 10px;
  left: 80px;
}

.page-content .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.page-content .secondary-headline {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--heading-2-font-family);
  font-weight: var(--heading-2-font-weight);
  color: var(--coolgray-90);
  font-size: var(--heading-2-font-size);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  font-style: var(--heading-2-font-style);
}

.page-content .form-fields {
  display: flex;
  flex-direction: column;
  width: 560px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 89px;
  left: 80px;
}

.page-content .text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.page-content .label-and-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.page-content .label {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--body-s-font-family);
  font-weight: var(--body-s-font-weight);
  color: var(--coolgray-90);
  font-size: var(--body-s-font-size);
  letter-spacing: var(--body-s-letter-spacing);
  line-height: var(--body-s-line-height);
  font-style: var(--body-s-font-style);
  background: transparent;
  padding: 0;
  border: none;
}
input {
  border: none;
  outline: none;
}

.page-content .field {
  display: flex;
  height: 25px;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--coolgray-10);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--coolgray-30);
}

.page-content .text {
  position: relative;
  flex: 1;
  font-family: var(--body-m-font-family);
  font-weight: var(--body-m-font-weight);
  color: var(--coolgray-60);
  font-size: var(--body-m-font-size);
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
  font-style: var(--body-m-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.page-content .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--body-s-font-family);
  font-weight: var(--body-s-font-weight);
  color: var(--coolgray-90);
  font-size: var(--body-s-font-size);
  letter-spacing: var(--body-s-letter-spacing);
  line-height: var(--body-s-line-height);
  font-style: var(--body-s-font-style);
}

.page-content .div {
  position: relative;
  flex: 1;
  font-family: var(--body-m-font-family);
  font-weight: var(--body-m-font-weight);
  color: var(--coolgray-60);
  font-size: var(--body-m-font-size);
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
  font-style: var(--body-m-font-style);
}

.page-content .icon-jam-icons {
  position: relative;
  width: 24px;
  height: 24px;
}

.page-content .description {
  position: relative;
  align-self: stretch;
  font-family: var(--body-XS-font-family);
  font-weight: var(--body-XS-font-weight);
  color: var(--coolgray-60);
  font-size: var(--body-XS-font-size);
  letter-spacing: var(--body-XS-letter-spacing);
  line-height: var(--body-XS-line-height);
  font-style: var(--body-XS-font-style);
}

.page-content .group {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.page-content .controls-with-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.page-content .controls {
  position: relative;
  width: 20px;
  height: 20px;
}
.cekbox {
  margin-right: 5px;
}

.page-content .label-name {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-s-font-family);
  font-weight: var(--body-s-font-weight);
  color: var(--coolgray-90);
  font-size: var(--body-s-font-size);
  letter-spacing: var(--body-s-letter-spacing);
  line-height: var(--body-s-line-height);
  white-space: nowrap;
  font-style: var(--body-s-font-style);
}

.page-content .text-wrapper-2 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-s-font-family);
  font-weight: var(--body-s-font-weight);
  color: var(--primary-90);
  font-size: var(--body-s-font-size);
  text-align: right;
  letter-spacing: var(--body-s-letter-spacing);
  line-height: var(--body-s-line-height);
  font-style: var(--body-s-font-style);
}
/* button login */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 275px;
  background-color: var(--primary-60);
  border: 1px solid var(--primary-60);
  cursor: pointer;
}

.page-content .button-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: var(--button-m-font-weight);
  color: #fff;
  font-size: var(--button-m-font-size);
  letter-spacing: var(--button-m-letter-spacing);
  line-height: var(--button-m-line-height);
  white-space: nowrap;
  font-style: var(--button-m-font-style);
  font-family: var(--button-m-font-family);
}
/* end button login */

/* button login google */
.page-content .frame {
  display: flex;
  width: 640px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 380px;
  left: 80px;
}

.page-content .button-2 {
  height: 48px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  all: unset;
  box-sizing: border-box;
  border: 1px solid var(--primary-60);
  padding: 10px 195px;
  cursor: pointer;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.page-content .img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.page-content .button-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--button-m-font-family);
  font-weight: var(--button-m-font-weight);
  color: var(--primary-60);
  font-size: var(--button-m-font-size);
  letter-spacing: var(--button-m-letter-spacing);
  line-height: var(--button-m-line-height);
  white-space: nowrap;
  font-style: var(--button-m-font-style);
}
/* end button login google */

.page-content .sep {
  position: absolute;
  width: 560px;
  height: 1px;
  top: 489px;
  left: 80px;
  object-fit: cover;
}

.page-content .p {
  position: absolute;
  width: 560px;
  top: 521px;
  left: 80px;
  font-family: var(--body-s-font-family);
  font-weight: var(--body-s-font-weight);
  color: var(--primary-90);
  font-size: var(--body-s-font-size);
  letter-spacing: var(--body-s-letter-spacing);
  line-height: var(--body-s-line-height);
  font-style: var(--body-s-font-style);
}
.sign {
  position: absolute;
  bottom: 0;
  margin-bottom: 2cm;
  margin-left: 81px;
  text-decoration: none;
  color: #243d81;
}
